@mixin sp {
  @media screen and(max-width: 599px) {
    @content;
  }
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

h2 {
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", YuGothic, "Yu Gothic",
    sans-serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.75px;
}

p {
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans','ＭＳ ゴシック',sans-serif;
}

li {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo UI',
    sans-serif;
}

.container {
  width: 960px;
  max-width: 100%;
  margin: auto;

  @include sp {
    width: 350px;
    max-width: 100%;
    margin: auto;
  }
}

header {
  height: 100px;
  line-height: 100px;

  @include sp {
    height: 125px;
    line-height: normal;
    display: flex;
  }

  .container {
    display: flex;
    justify-content: space-between;

    @include sp {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    ul {
      display: flex;
      justify-content: space-around;
      gap: 45px;

      li {
        font-weight: bold;
      }
    }
  }
}

.main-visual {
  background-image: url("../img/main-vsual-nontitle.png");
  width: 100%;
  height: 647px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include sp {
    margin-bottom: 125px;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 50px;

    h1 {
      font-family: "ヒラギノ角ゴシック", "Hiragino Sans", YuGothic, "Yu Gothic",
        sans-serif;
      font-size: 60px;
      font-weight: bold;
      text-align: center;
      line-height: normal;
      color: #191970;

      br:nth-child(2) {
        display: none;
      }

      @include sp {
        font-size: 6.5vw; //35px
        white-space: nowrap;

        br:nth-child(2) {
          display: block;
        }
      }
    }

    p {
      font-size: 22.5px;
      text-align: center;
      line-height: normal;
      letter-spacing: 0.25px;
      font-weight: bold;

      @include sp {
        font-weight: normal;
      }

      br:nth-child(1) {
        display: none;
      }

      @include sp {
        font-size: 15px;

        br:nth-child(1) {
          display: block;
        }

        br:nth-child(2) {
          display: none;
        }
      }
    }
  }
}

.description {
  @include sp {
    margin-bottom: 100px;
  }

  h2 {
    text-align: center;
    margin: 75px 0;
  }

  .main {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    @include sp {
      display: block;
    }

    .img {
      width: 50%;

      @include sp {
        width: 100%;
        margin-bottom: 20px;
      }

      img {
        max-width: 100%;
      }
    }

    .article {
      width: 50%;
      line-height: normal;

      @include sp {
        width: 100%;
      }
    }
  }
}

.contents {
  @include sp {
    margin-bottom: 125px;
  }

  h2 {
    text-align: center;
    margin: 75px 0;
  }

  .courses {
    display: flex;
    justify-content: space-between;

    @include sp {
      display: block;
    }

    li {
      width: 30%;

      @include sp {
        width: 100%;
        margin-bottom: 30px;
      }

      img {
        max-width: 100%;
        margin-bottom: 7.5px;
      }
    }
  }
}

.contact {
  margin-bottom: 150px;

  h2 {
    text-align: center;
    margin: 75px 0;

    @include sp {
      margin: 75px 0 50px 0;
    }
  }

  .register {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include sp {
      p {
        margin-bottom: 25px;
      }
    }

    input {
      width: 640px;
      height: 50px;
      font-size: 20px;
      border: 1px solid #b3b6b7;
      border-radius: 100px;
      margin: 5px 0 30px 0;
      padding: 0 30px;
      box-sizing: border-box;

      @include sp {
        width: 100%;
      }
    }

    input::placeholder {
      font-size: 15px;
    }

    button {
      display: block;
      width: 450px;
      height: 75px;
      margin: 0 auto;
      background-color: #ff8168;
      color: #fff;
      border-radius: 7.5px;
      font-size: 25px;
      font-weight: bold;

      @include sp {
        display: inline;
        width: 100%;
      }
    }
  }
}

footer {
  @include sp {
    border-top: 1px solid #b3b6b7;
    width: 90%;
    margin: auto;
  }

  .container {
    border-top: 1px solid #b3b6b7;
    box-sizing: border-box;
    text-align: right;
    padding: 25px 0 50px 0;

    @include sp {
      border-top: 0px;
      text-align: center;
      white-space: nowrap;
      margin-top: 10px;
    }

    p {
      font-size: 12.5px;

      @include sp {
        font-size: 2.5vw;
        max-width: 100vw;
      }
    }
  }
}